.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 1rem;
}

.header img {
    width: 55px;
    border-radius: 50px;
}

.list {
    display: flex;
}

.list li{
    padding: 0 1rem;
}

.list li a {
    color: #fff;
    font-weight: 500;
}

.list li a:hover {
    color: #8691D9;
}

.burger {
    display: none;
}

.burger svg {
    font-size: 20px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .burger {
        display: flex;
        cursor: pointer;
    }

    .list {
        display: none;
    }

    .list.active {
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgb(47, 47, 47);
        width: 50%;
        height: 100vh;
        padding-top: 40px;
        position: absolute;
        top: 90px;
        right: 0;
        z-index: 2;
        border-bottom-left-radius: 8px;
        box-shadow: 0px 5px 5px rgba(51, 51, 51, 0.31);
        transition: .5s;
    }

    .list li {
        padding: 0;
    }

    .list li:hover {
        background-color: rgba(34, 34, 34, 0.3);
    }

    .list li a {
        display: block;
        color: #fff;
        font-size: 1.2rem;
        padding: 2rem 1rem;
        width: 100%;
        height: 100%;
    }

    .closemenu {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .closemenu.desactive {
        display: none;
    }
}
