.card-container {
    padding: 3rem;
}

.card {
    background: rgba(2, 49, 110, 0.2);
    border-radius: 10px;
    padding: .5rem;
}

.card img {
    width: 100%;
}

.card h3 {
    padding: .8rem 0;
    text-align: center;
}

.details p {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}